body {
	font-family: 'ZCOOL QingKe HuangYou', cursive;
	height: 4000px;
}

* {
    padding: 0;
    margin: 0; 
}

li {
	list-style: none; 
	display: flex; 
	margin-right: -10px;

}

a { 
	text-decoration: none; 
 }

 header {
 	background-color: #a3a3c2; 
 	padding: 22px 0; 
 }

 .header-container {
 	width: 90%;
 	margin: 0 auto;
 	display: flex;
 	justify-content: space-between; 
 }

.header-container a{
	color: #000;
	font-size: 16px;
	margin-right: 63px;
	padding: 27px 6px; 
}

.header-container a:hover{
	background: #cc7a00;
}

#checkbox-menu {
	display: none;
}

ul {
	display: flex;
}

nav {
	margin-top: 10px;
}

.top-slide{
	background: url(images/slider_bg.jpg) no-repeat;
	padding-top: 120px;
	padding-bottom: 280px;
}

.top-container{
	width: 85%;
	margin: 0 auto;

}
.top-slide h2{
	background: #cc7a00;
	display: inline;
	font-size: 70px;
	padding: 0 13px;
}

.top-slide :nth-child(2){
	margin-bottom: 10px;
}
.top-slide p{
	background: #a3a3c2;
	display: inline;
	font-size: 24px;
	padding: 0 4px;

}

.specialize-container {
	width: 80%;
	margin: 0 auto;
	text-align: center; 
}

.specialize-container h3 {
	text-transform: uppercase;
	margin-top: 40px;
	font-size: 36px;
}

.specialize-container p{
	margin-top: 20px;
	margin-bottom: 40px;
	font-size: 24px;
}

.first-p{
	font-size: 15px;
	color: #000;

}
.bottom-card{
	background: #a3a3c2;
	position: relative;
	top: -30px;
}

.specialize-cards {
	width: 60%;
	display: flex;
	justify-content: space-between;
	margin: 0 auto; /*?????*/

}

.portfolio{ 
	width: 80%;
	margin: 0 auto;
	text-align: center;
 }

 .portfolio h4 {
 	text-transform: uppercase;
 	font-size: 22px;
 	background: #cc7a00;
 	display: inline-block; 
 	padding: 0 6px;
 	margin-bottom: 30px;
 }

 .portfolio p{
 	font-size: 20px;
 }

.toggles button{
   border: none; 
   text-transform: uppercase;
   color: #424146;
   background: #fff;
   font-size: 10px;
   cursor: pointer;
   margin: 20px 5px;
}

.toggles button:after {
	content: ' / ';
}

.toggles button:last-child:after {
	content: ' ';
}


.posts{
	width: 90%;
	display: grid;
	margin: 0 auto;
	grid-template-columns: auto auto auto auto;

}

@media screen and (max-width: 420px) {
	.header-container {
		width: 100%;
		display: flex;
		justify-content: space-around; /*как браузер распределит 
		между и воокруг элемента контента вдоль оси и контейнера*/
	}

	.main-menu {
		display: none;
	}

	.main-menu li {
		width: 100%;
		display: block;
		font-size: 12px;
	}

	.main-menu a{
		display: block;
		padding: 8px;
	}

	.toggle-button {
		text-align: center;
		display: block;
		cursor: pointer;
		color: #000;
		margin-top: 10px;
	}

	.toggle-button:after {
       content: attr(data-open); /*обащение к атрибуту, свойствам.
       хранение информации*/
       display: block;
	}

	#checkbox-menu:checked + nav[role="navigation"] .main-menu{

     display: block; 
	}

	#checkbox-menu:checked + nav[role="navigation"] .toggle-button:after {
		content: attr(data-close);
		display: block;
	}

	.header-container a{
		margin-right: -65px;
	}

	.main-menu {
		position: relative; 
		top: 30px;
		right: 15px;

	}
}